blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
  margin:0;
  padding:0;
  border:none
}
body {
  font:16px/1.5 "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC",Tahoma,Arial,sans-serif;
  width:100%;
  height:100%
}
button,h1,h2,h3,h4,h5,h6,input,select,textarea {
  font-size:100%
}
address,cite,dfn,em,var {
  font-style:normal
}
code,kbd,pre,samp {
  font-family:courier new,courier,monospace
}
small {
  font-size:12px
}
ol,ul {
  list-style:none
}
a,a:hover {
  text-decoration:none
}
sup {
  vertical-align:text-top
}
sub {
  vertical-align:text-bottom
}
legend {
  color:#000
}
fieldset,img {
  border:0
}
table {
  border-collapse:collapse;
  border-spacing:0
}