@import './reset.css';

html, body {
  max-width: 46.875rem;
  margin: auto;
}

header .left h1 {
  width: 7.5rem;
  font-size: .75rem;
  font-weight: 200;
  padding-left: 2rem;
  visibility: hidden;
  z-index: -111;
  position: absolute;
}

.banner img {
  width: 100%;
  height: 100%;
}

.intro h2, .intro-bottom h2, .welfare h2, .exhibition h2, .sign-up h2, .pre-book h2 {
  text-align: center;
  color: rgb(223, 49, 21);
  font-size: 1.875rem;
}

.intro p {
  text-indent: 2.25rem;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
}

.intro p:first-of-type {
  margin-top: 2rem
}

.intro p:last-of-type {
  margin-top: 1.375rem
}

.intro-imgs {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro-imgs img {
  width: 100%;
  height: auto;
  padding-top: .375rem;
}

.intro-bottom {
  box-sizing: border-box;
  padding: 2rem 0 0;
  overflow: hidden;
}

.intro-bottom-content {
  display: flex;
  margin: 1.5rem .875rem;
}

.intro-bottom-content-left, .intro-bottom-content-right {
  background-color: rgb(240, 240, 240);
  display: flex;
  margin: .625rem .625rem .375rem;
  padding: .625rem .625rem .625rem .875rem;
}

.intro-bottom-content span {
  display: block;
}

.intro-bottom-content_icon {
  margin-right: .625rem;
}

.intro-bottom-content-left_prase span:first-of-type,
.intro-bottom-content-right_prase span:first-of-type {
  font-size: 1.25rem;
}

.intro-bottom-content-left_prase span:last-of-type,
.intro-bottom-content-right_prase span:last-of-type {
  font-size: 1.375rem;
  font-weight: 600;
}

.lightspots {
  box-sizing: border-box;
  padding: 2.875rem 2.5625rem 1.125rem;
  background-image: url('../images/lightspots_bg.png');
  background-repeat: no-repeat;
  background-color: rgb(220, 42, 19);
  color: white;
}

.lightspots h2 {
  font-size: 1.875rem;
  text-align: center;
  vertical-align: bottom;
}

.lightspots .lightspots-number {
  font-size: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
  margin-top: .625rem;
  font-weight: 800;
  display: inline-block;
  background-image: linear-gradient(rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, .5) 20%, rgba(220, 42, 19, 1) 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, .1);

}

.lightspots .lightspots-number:first-of-type {
  margin-top: 2.25rem;
}

.lightspots p {
  font-size: 1.125rem;
  position: relative;
  top: -0.5rem;
}

.welfare {
  box-sizing: border-box;
  padding: 1.75rem .5rem 1.625rem;
}

.welfare-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: .75rem;
}

.welfare-block img {
  margin-top: 1.375rem;
  margin-bottom: .03125rem;
}

.exhibition {
  box-sizing: border-box;
  padding: 2rem 2rem 1.875rem;
  background-color: rgb(233, 233, 233);
  overflow: hidden;
}

.exhibition-content {
  display: flex;
  margin-top: 1.625rem;
}

.exhibition-content-img {
  margin-right: 2.0625rem;
}

.exhibition-content p {
  font-size: 1.0625rem;
  line-height: 1.8;
  text-indent: 2.25rem;
}

.exhibition .h3 {
  font-size: 1.25rem;
  margin: .9375rem 0 0;
}

.exhibition .h3 img {
  vertical-align: middle;
  position: relative;
  top: -0.125rem;
}

.exhibition-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.exhibition-banner a {
  margin-top: 12px;
  cursor: pointer;
}

.exhibition-banner img {
  width: 100%;
  height: auto;
}

.sign-up {
  box-sizing: border-box;
  padding: 2rem 2rem 1.125rem;
  overflow: hidden;
}

.sign-up-content {
  display: flex;
  margin-top: 1.875rem;
}

.sign-up-content_left p {
  text-indent: 2.25rem;
  font-size: 1.25rem;
  line-height: 1.8;
}

.sign-up-content_left img {
  vertical-align: middle;
  margin-right: .5rem;
}

.sign-up-content_left .button {
  width: 20.4375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  font-size: 1.125rem;
  margin: 0 auto;
  color: white;
  background-color: rgb(223, 49, 21);
  border-radius: 10.21875rem;
  margin-top: 1.125rem;
}

.bbs {
  box-sizing: border-box;
  padding: 2rem;
  overflow: hidden;
  background-color: rgb(206, 42, 16);
  color: white;
}

.bbs h2 {
  font-size: 1.875rem;
  text-align: center;
}

.bbs .tong_qi {
  margin-top: 2rem;
}

.bbs h3 {
  width: 8.5rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  text-align: center;
  border-radius: 4.25rem;
  margin-top: 1.375rem;
  color: rgb(190, 38, 13);
  background-color: #fff;
}

.bbs ul li {
  font-size: 1.125rem;
}

.tong_qi-ul li:nth-of-type(2) {
  font-size: 1.25rem;
  color: rgb(255, 241, 0);
  margin-top: .375rem;
}

.bbs .h4 {
  font-size: 1.5rem;
}

.tong_qi-ul .bbs-ul-left li:nth-of-type(2) {
  text-indent: 1rem;
}

.tong_qi-ul .bbs-ul-rigth li:first-of-type {
  margin-left: -1rem;
}

.zhuan_ti-ul .bbs-ul-left li,
.zhuan_ti-ul-second .bbs-ul-left li,
.xu_qiu-ul .bbs-ul-left li {
  text-indent: 1rem;
}

.zhuan_ti-ul .bbs-ul-rigth div,
.zhuan_ti-ul-second .bbs-ul-rigth div {
  margin-left: -1rem;
}

.pre-book {
  box-sizing: border-box;
  padding: 2rem 2rem 1.625rem;
  overflow: hidden;
}

.pre-book-content {
  display: flex;
  margin-top: 1.625rem;
}

.pre-book-content p {
  font-size: 1.25rem;
  text-indent: 2.5rem;
  line-height: 1.8;
}

.pre-book-button {
  display: block;
  height: 4.0625rem;
  line-height: 4.0625rem;
  margin: 0 auto;
  background-color: rgb(223, 49, 21);
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1.625rem;
}

footer {
  box-sizing: border-box;
  padding: 2rem 2rem 1rem;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-left p {
  font-size: .875rem;
}

.footer-center h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.footer-center, .footer-right {
  line-height: 1.8;
  margin-bottom: .9375rem;
}

@media screen and (min-width: 320px) and (max-width: 667px) {
  html, body {
    font-size: 15px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 1rem;
  }

  header .right .h2 {
    display: block;
    text-align: center;
    margin-top: .625rem;
    font-size: 1.125rem;
    font-weight: 600;
  }

  header .right {
    margin-bottom: .75rem;
  }

  header .right span:nth-of-type(2) {
    padding-right: 1rem;
  }

  .button-list {
    box-sizing: border-box;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  .button-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    margin: .625rem 0;
  }

  .button-list li img {
    width: 4.5rem;
    height: auto;
  }

  .intro {
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
    padding: 2rem;
    overflow: hidden;
  }

  .intro h2, .intro-bottom h2 {
    padding-top: 1.2rem;
  }

  .intro h2, .welfare h2, .exhibition h2, .sign-up h2 {
    font-size: 1.5rem;
  }

  .intro-bottom h2, .welfare h2 {
    padding: 0 2rem;
    font-size: 1.4rem;
  }

  .pre-book h2 {
    font-size: 1.4rem;
  }

  .intro-imgs {
    display: flex;
    justify-content: center;
  }

  .intro-bottom {
    box-sizing: border-box;
    padding: 2rem 0 0;
    overflow: hidden;
  }

  .intro-bottom-content {
    display: flex;
    flex-direction: column;
  }

  .lightspots h2, .bbs h2 {
    font-size: 1.5rem;
  }

  .welfare-block {
    box-sizing: border-box;
    width: 44%;
    height: 12rem;
    margin: .5rem;
    background-color: rgb(255, 243, 241);
    border-radius: .1875rem;
  }

  .exhibition-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .exhibition-content-img {
    margin: 0 auto .625rem;
  }

  .exhibition .h3 {
    font-size: 1.2rem;
  }

  .exhibition-banner {
    justify-content: center;
  }

  .sign-up, .sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-up-content {
    flex-direction: column-reverse;
  }

  .tong_qi-ul, .zhuan_ti-ul, .zhuan_ti-ul-second, .xu_qiu-ul {
    display: flex;
    flex-direction: column;
  }

  .tong_qi-ul ul, .zhuan_ti-ul ul, .zhuan_ti-ul-second ul, .xu_qiu-ul ul {
    margin-top: 1rem;
  }

  .zhuan_ti-ul ul li, .zhuan_ti-ul-second ul li, .xu_qiu-ul ul li {
    font-size: .875rem;
  }

  .tong_qi-ul ul li:nth-of-type(2) {
    font-size: 1rem;
  }

  .bbs-ul-rigth {
    margin-left: 1rem;
  }

  .pre-book-content {
    display: flex;
    flex-direction: column;
  }

  .pre-book-content img {
    width: 13.75rem;
    height: auto;
    margin: 1rem auto 0;
  }

  .pre-book-content p {
    font-size: 1.1rem;
    text-indent: 2.2rem;
    line-height: 1.8;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  footer .footer-center {
    text-align: center;
  }

  footer .footer-center h3 {
    font-size: 1.2rem;
  }

  footer .footer-left p {
    text-align: center;
  }
}

@media screen and (min-width: 668px) {
  header {
    position: relative;
    height: 5.75rem;
    line-height: 5.75rem;
    overflow: hidden;
    border-bottom: 1px solid red;
  }

  header .left {
    position: absolute;
    height: 5.75rem;
    line-height: 5.75rem;
    left: 1.375rem;
  }

  header .left img {
    padding: 1.375rem 0;
    cursor: pointer;
  }

  header .right {
    position: absolute;
    height: 5.75rem;
    line-height: 5.75rem;
    width: 18.75rem;
    right: 1.625rem;
  }

  header .right span {
    display: inline-block;
  }

  header .right .h2 {
    display: block;
    font-size: 1.375rem;
    font-weight: 600;
    height: 1.375rem;
    line-height: 1.375rem;
    position: absolute;
    top: 1.625rem;
  }

  header .right span:nth-child(2), header .right span:nth-child(3) {
    top: 1.25rem;
    position: relative;
  }

  header .right span:nth-child(3) {
    padding-left: 1.375rem;
  }

  .button-list {
    width: 90%;
    margin: 2.0625rem auto;
    display: flex;
    flex-wrap: wrap;
  }

  .button-list li {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
  }

  .button-list li span {
    font-size: 1.5rem;
  }

  .intro {
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
    padding: 2.5rem 2.5rem 2.0625rem;
    overflow: hidden;
  }

  .intro-bottom-content-left {
    width: 44%;
  }

  .welfare-block {
    box-sizing: border-box;
    width: 13.3125rem;
    height: 13.125rem;
    font-size: 1.25rem;
    line-height: 1.8rem;
    padding: .625rem;
    margin-top: 1.25rem;
    background-color: rgb(255, 243, 241);
    border-radius: .1875rem;
  }

  .sign-up-content_left {
    padding-right: 2.375rem;
  }

  .tong_qi-ul, .zhuan_ti-ul, .zhuan_ti-ul-second {
    display: flex;
    justify-content: space-between;
    margin-top: 1.125rem;
  }

  .xu_qiu-ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.125rem;
  }

  .xu_qiu-ul .bbs-ul-rigth {
    padding-left: 5.3125rem;
  }

  .pre-book-content p {
    padding-right: 2rem;
  }

  .pre-book-button {
    width: 21.875rem;
  }
}